<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<div class="login-page">
  <div class="form">
    <h1>Welcome, <%= username %> back to the site!</h1>
    <p><a href="/logout">Log out</a></p>

    <hr />

    <ul>
      <li><a href="/story/1">Story 1</a></li>
      <li><a href="/story/2">Story 2</a></li>
      <li><a href="/story/3">Story 3</a></li>
    </ul>

    <hr />

    <a href="/statement">Download statement</a>
  </div>
</div>
